<h2>育て方手順の追加</h2>

<%= form_with model: @growing_step, url: admin_growing_steps_path, local: true do |f| %>
  <div>
    <%= f.label :vegetable_id, "野菜" %><br>
    <%= f.collection_select :vegetable_id, @vegetables, :id, :name %>
  </div>

  <div>
    <%= f.label :step_number, "手順番号" %><br>
    <%= f.number_field :step_number %>
  </div>

  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "内容" %><br>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>