<%= form_with model: @post, local: true, data: { turbo: false }  do |f| %>
  <% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "件のエラー") %>が発生しました。</h2>
    <ul>
      <% post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "内容" %><br>
    <%= f.text_area :content %>
  </div>

  <div>
   <%= f.label :category, "カテゴリー" %><br>
   <%= f.select :category, Post.categories.keys.map { |k| [category_label(k), k] }, prompt: "選択してください" %>
  </div>

  <div>
    <%= f.label :vegetable_id, "野菜" %><br>
    <%= f.collection_select :vegetable_id, Vegetable.all, :id, :name, prompt: "選択してください" %>
  </div>

  <div>
    <%= f.label :image, "画像" %><br>
    <%= f.file_field :image %>
    <% if post.image.attached? %>
      <p>現在の画像：</p>
      <%= image_tag post.image, width: 200 %>
    <% end %>
  </div>

  <div>
    <%= f.submit "投稿する" %>
  </div>
<% end %>
