<%= form_with model: post, local: true do |f| %>
  <% if post.errors.any? %>
    <div>
      <% post.errors.full_messages.each do |msg| %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "内容" %><br>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :category, "カテゴリー" %><br>
    <%= f.select :category, Post.categories.keys.map { |k| [k.humanize, k] }, prompt: "選択してください" %>
  </div>

  <div>
    <%= f.label :vegetable_id, "野菜" %><br>
    <%= f.collection_select :vegetable_id, Vegetable.all, :id, :name, prompt: "選択してください" %>
  </div>

  <div>
    <%= f.label :image, "画像" %><br>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit "投稿する" %>
  </div>
<% end %>
