<h2><%= @vegetable.name %> の作り方ガイド</h2>

<% if @growing_steps.any? %>
  <ol>
    <% @growing_steps.each do |step| %>
      <li>
        <strong>STEP <%= step.step_number %>: <%= step.title %></strong><br>
        <p><%= step.content %></p>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>育て方の手順はまだ登録されていません。</p>
<% end %>

<%= link_to '野菜一覧に戻る', vegetables_path %>