<h2><%= @vegetable.name %> の作り方ガイド</h2>

<% if @growing_steps.any? %>
 <div data-controller="step-progress">
  <% @growing_steps.each do |step| %>
    <% progress = StepProgress.find_by(user: current_user, growing_step: step) %>
    <div>
      <!-- チェックボックスに Stimulus 用の data 属性を追加 -->
        <%= check_box_tag nil, "1", progress&.checked,
          id: "step_checkbox_#{step.id}",
          data: {
          step_progress_target: "checkbox",
          step_id: step.id
           },
           type: "checkbox" %>

       <%= label_tag "step_checkbox_#{step.id}", "STEP #{step.step_number}: #{step.title}" %>
      <p><%= step.content %></p>
    </div>
  <% end %>
<% else %>
  <p>育て方の手順はまだ登録されていません。</p>
<% end %>

<%= link_to '野菜一覧に戻る', vegetables_path %>