<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap CSS & JS (CDN) -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>сЂЮсЂасЂдсЃГсѓ░­Ъф┤</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header class="site-header">
  <div class="header-inner">
    <div class="logo">
      <%= link_to 'сЂЮсЂасЂдсЃГсѓ░­Ъф┤', root_path %>
    </div>
    <nav class="nav-menu">
      <% if user_signed_in? %>
        <span class="welcome-message">сЂЊсѓЊсЂФсЂАсЂ»сђЂ<%= current_user.nickname %> сЂЋсѓЊ</span>
        <%= link_to 'сЃѕсЃЃсЃЌсЃџсЃ╝сѓИ', root_path %>
        <%= link_to 'ТіЋуе┐сЂЎсѓІРюЈ№ИЈ', new_post_path %>
        <%= link_to 'сЃГсѓ░сѓбсѓдсЃѕ', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to 'сЃѕсЃЃсЃЌсЃџсЃ╝сѓИ', root_path %>
        <%= link_to 'Тќ░УдЈуЎ╗жї▓', new_user_registration_path %>
        <%= link_to 'сЃГсѓ░сѓцсЃ│', new_user_session_path %>
      <% end %>
    </nav>
  </div>
</header>

    <main class="main-content">
      <%= yield %>
    </main>

    <footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-logo">
      &copy; 2025 сЂЮсЂасЂдсЃГсѓ░­Ъф┤
    </div>
    <nav class="footer-nav">
      <ul>
        <li><%= link_to "тѕЕућеУдЈу┤ё", "#" %></li>
        <li><%= link_to "сЃЌсЃЕсѓцсЃљсѓисЃ╝сЃЮсЃфсѓисЃ╝", "#" %></li>
        <li><%= link_to "сЂітЋЈсЂётљѕсѓЈсЂЏ", "#" %></li>
      </ul>
    </nav>
  </div>
</footer>
  </body>
</html>
